<html>
  <head>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
  </head>
  <body>
    <style type="text/css">
    </style>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <ul class="nav navbar-nav navbar-left">
        <li><a class="navbar-brand" href="#">Home</a></li>
        <li><a href="/admin-login/">Admin Login</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-brand" href="#">Cart: <b>({{ cart_items }}) items</b></a></li>
        <li><a href="/store/cart/checkout/">Checkout</a></li>
      </ul>
    </nav>

  </body>
</html>
